[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "clidatajp"]
	path = clidatajp
	url = https://github.com/matutosi/clidatajp
	shallow = true
	registered = true
[submodule "ecan"]
	path = ecan
	url = https://github.com/matutosi/ecan
	shallow = true
	registered = true
[submodule "moranajp"]
	path = moranajp
	url = https://github.com/matutosi/moranajp
	shallow = true
	registered = true
[submodule "pivotea"]
	path = pivotea
	url = https://github.com/matutosi/pivotea
	shallow = true
	registered = true
