[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clidatajp"]
	path = clidatajp
	url = https://github.com/matutosi/clidatajp
[submodule "ecan"]
	path = ecan
	url = https://github.com/matutosi/ecan
[submodule "pivotea"]
	path = pivotea
	url = https://github.com/matutosi/pivotea
[submodule "screenshot"]
	path = screenshot
	url = https://github.com/matutosi/screenshot
[submodule "textrar"]
	path = textrar
	url = https://github.com/matutosi/textrar
